<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OTRS</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='css/morris.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- AutoCompleter CSS-->
    <link href="{{ url_for('static', filename='css/jquery.autocomplete.css')}}" rel="stylesheet" type="text/css">
    
    <!-- TagsInput CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css')}}" rel="stylesheet" type="text/css">

    <!-- Own CSS-->
    <link href="{{ url_for('static', filename='css/script.css')}}" rel="stylesheet" type="text/css">

</head>

<body>
        <div id="wrapper">
                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <form accept="/">
                        <a class="navbar-brand" href="/">OTRS v1.0</a>
                    </form>
                    </div>
                    <!-- /.navbar-header -->
        
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="/ask">
                                <i class="fa fa-question-circle-o" ria-hidden="true"></i> Ask Question</i>
                            </a>
                            <!-- /.dropdown-messages -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell fa-fw"></i> Notifications <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-alerts -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>
                                {% if current_user.is_authenticated %}
                                {{current_user.id}}
                                {% else %}
                                Guest
                                {% endif %}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                    {% if current_user.is_authenticated %} 
                                <li><a href="#"><i class="fa fa-user fa-fw"></i>
                                    User Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                                {% else %}
                                <li><a href="/login"><i class="fa fa-user fa-fw"></i>
                                    Login</a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
        
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <ul class="nav" id="side-menu">
                                <li class="sidebar-search">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    </div>
                                    <!-- /input-group -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Public Forums<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="/group_search">By Group Name</a>
                                        </li>
                                        <li>
                                            <a href="/tag_search">By Tags</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="/private"><i class="fa fa-edit fa-fw"></i> Private Blogs</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.sidebar-collapse -->
                    </div>
                    <!-- /.navbar-static-side -->
                </nav>
        {% block content %}
        {% endblock %}
    </div>
    <!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js')}}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static', filename='js/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris-data.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>

<!-- Autocomplete JS-->
<script src="{{ url_for('static', filename='js/jquery.autocomplete.js')}}"></script>

<!-- Tags Input JS-->
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>

<!-- Editor-->
<script src="{{ url_for('static', filename='js/tinymce.min.js')}}"></script>

<!--script for comment date, time pick-->
<script>
function gettime(){
    document.getElementById("browser_time").value = new Date();
}
gettime();
</script>
</body>
</html>